/* body section */
body{
    font-family:'arial', sans-serif;
    text-align: center; 
    background-color: #494449;
    color: white;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'arial', sans-serif;
}

p{
   color: #8f8f8f;
   font-size: 16px;
   margin-top: 10px;
}

 /* container-fluid */
.container-fluid{
    padding: 3% 15%;
}

/* title section */
#title .container-fluid{
    padding: 13% 15%;
}

/* title image */
.title-image{
    width: 80%;
    margin-left: 130px;
    margin-top: 50px;
}

/* heading section */
.big-heading{
    font-family: 'arial', sans-serif;
    font-size: 2.5rem;
    line-height: 2;
    font-weight:bolder;
    text-align: left;
    margin-top: 20px;
}

/* media css fix item size based on condition */
@media (max-width: 1028px){
    #title{
       text-align: center;
    }

    .title-image{
        width: 100%;
        margin:auto;
        position: static;
        transform: rotate(0);
    }
}

/* pricing section */
#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 5%;
}

.pricing-text{ 
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Testimonials section */
#testimonials{
   background-color: #eeefeb;
}

.testimonials-image{
    width: 50%;
    margin: 20px;
}

/* em{
    color: #292d33;
} */

/* section */
.colored-section{
    background-color: #292d33;
    color: white;
}

.white-section{
    background-color: white;
    color: black;
}

/* footer section */
.icon-footer{
    margin: 20px 10px; 
}

.copyright-footer{
    font-size: 18px;
}



